body{
    background-color: aqua;
    text-align: center;
    text-decoration: aliceblue;
}
#login_button{
    text-decoration: aquamarine;
    text-align: center;
    text-size-adjust: 250px;
}
#username{
    text-align: center;
    text-decoration: wavy;
    text-decoration: antiquewhite;
    text-size-adjust: 249px;
}